@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #2563eb;   /* blue */
  --color-secondary: #10b981; /* emerald */
  --color-accent: #f59e0b;    /* amber */

  --color-bg: #f9fafb;
  --color-card: #ffffff;
  --color-text: #111827;
  --color-muted: #6b7280;
}

.dark {
  --color-primary: #3b82f6;
  --color-secondary: #34d399;
  --color-accent: #fbbf24;

  --color-bg: #0f172a;
  --color-card: #1e293b;
  --color-text: #f8fafc;
  --color-muted: #94a3b8;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}